<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div style="background-color: green;">
        <h1 style="color: aqua; text-align: center"><a href="/" style="margin: 10px;">Home</a><a style="margin: 10px;" href="/about">About</a><a style="margin:10px;" href="/blog">Blog</a></h1>
        <hr>
    </div>
    
    {% block  content %}

    {% endblock content %}

    <div style="background-color: green;">
        <h3 style="color: black;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident esse maxime saepe ipsam eos unde aliquam vitae voluptate nisi repellat dolorum totam, mollitia quibusdam harum dolor ab laudantium reprehenderit. Similique!</h3>
        <h3 style="color: darkslategrey;">Created by Ali.N</h3>
    </div>
    
</body>
</html>